link(rel='stylesheet', href='/style.css', type="text/css")
	
h1 Add palette

div .cont Add Palete
	form#formUpdateFile(name="addPalete",method="post",action="/palettes")
		input#inputName(type="text", placeholder="name", name="name")
		br
		textarea#text(name="content", cols="100", rows="20")
		br
		button#btnSubmit(type="submit") submit


div Showing palettes
	ul
		each palette, i in palettelist
			li
				a(href="/palettes/#{palette.name}") #{palette.name}

	p
	a(href="/") Back to index