head
	link(rel='stylesheet', href='/style.css', type="text/css")
	
body

	block content
		h1 Ecore
		p Name: #{name}

	form#formRemoveEcore(name="removeEcore",method="post",action="/ecores/#{name}/delete")
			button#btnSubmit(type="submit") Delete



	textarea#text(name="content", cols="100", rows="20", disabled="disabled") #{content} 


	br
	a(href="/ecores") Go to ecores
	br
	a(href="/") Back to index