html
	link(rel='stylesheet', href='../css/default.css', type="text/css")
	link(rel='stylesheet', href='../css/fonts.css', type="text/css")
	
	h1 Welcome to DiagramEditorServer
		
		//include ./css/default.css

	body
		a(href="/palettes") Show palettes
		br
		br
		a(href="/ecores") Show ecores