
<!DOCTYPE html>
<html>
<title>DSL-Comet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://diagrameditorserver.herokuapp.com/style.css">
<style>
.mySlides {display:none}
</style>
<body>
<br>
<br>
<h1>DSL-Comet</h1>
<h2>A Domain Specific Language COllaborative Modelling EnvironmenT</h2>
<br>
<div id="cont">

  <div id="left">
    <div class="w3-content" style="max-width:250px;max-height: 200px;margin: 0 auto;">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/serverFiles.png">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/serverDiagrams.png">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/editorView.png">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/nodeDetails.png">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/noDraggable1.png" >
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/noDraggable2.png">
      <img class="mySlides" src="https://diagrameditorserver.herokuapp.com/searcher.png" >

    </div>

      <div class="w3-section">
        <button class="button" onclick="plusDivs(-1)" id="btnLeft">  ❮  </button>
        <button class="button" onclick="plusDivs(1)" id="btnRight">  ❯  </button>
      </div>

  </div> <!-- left -->

  <div id="right">
  <p>DSL-Comet is a prototype tool that allows model working on mobile devices. 
  <p>From this web you can update the needed palettes and ecores. Once this is done the application will be able to download them and show the appropiate editor. 
  <p>
  You will be ready to manipulate the created instances and to modify their attributes.
  <p>This tool offers too a exporting option, which allows you to save the generated model either on the server or on the local device.
  </div>

 

</div> <!-- Container -->

<br><br>
<hr>

<div id="links">
  <h3>Links</h3>
  <ul style="list-style-type:none">
    <li>
      <a href="https://diagrameditorserver.herokuapp.com/palettes"> Palettes </a>
    </li>

    <li>
     <a href="https://diagrameditorserver.herokuapp.com/ecores"> Ecores </a>
     </li>
     <li>
      <a href="https://diagrameditorserver.herokuapp.com/diagrams"> Models </a>
      </li>

  </ul>  
</div>


<br><br>
<hr>
<!--  Vídeos -->
<div id="videos">
  <h3>Videos</h3>
  <p>Cooming soon...
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);
var myVar = setInterval(myTimer, 3000);

function myTimer() {
   plusDivs(1);
}

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}



function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  //var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  //for (i = 0; i < dots.length; i++) {
  //   dots[i].className = dots[i].className.replace(" w3-red", "");
  //}
  x[slideIndex-1].style.display = "block";  
  //dots[slideIndex-1].className += " w3-red";
}
</script>

</body>
</html> 

